@import './mixins';

* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
  
:after, :before {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
  
body {
    
  --primary-background-color: #fff;
  --primary-color: #000;
  
  margin: 0;
  font-size: 14px;
  background-color: var(--primary-background-color);
  color: var(--primary-color);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

.container {
  width: 1280px;
  margin: 0 auto 0 auto;

  @include screen-mobile {
    width: 100%;
    margin: 0;
    padding: 0 20px 0 20px;
  }
}

hr {
  margin: 50px 0;
  border: unset;
  border-bottom: solid 1px #e8e8e8;
}

button,
textarea,
input {
  font-family: 'Poppins', sans-serif;
}
