@import './mixins';

.form-control {
    margin: 10px 0 10px 0;

    label {
        display: block;
    }

    input {
        display: block;
        width: 100%;
    }

    textarea {
        height: 250px;
        width: 100%;
        resize: none;
    }
}
