@import './mixins';

.app-version {
  font-size: 0.7em;
  color: #b3b3b3;
  font-weight: 600;
}

.app-info {
  letter-spacing: 1px;
}

.form-control {
  margin: 10px 0 10px 0;

  label {
    display: block;
  }

  input {
    display: block;
    width: 100%;
  }

  textarea {
    height: 250px;
    width: 100%;
    resize: none;
  }
}
